<section class="github-user-trophy">
  <h3 class="github-user-trophy__title">
    <a href="https://github.com/{{ include.username }}" target="_blank" rel="noopener">
      {{ include.username }}
    </a>
  </h3>

  <div class="github-user-trophy__image">
    <img
      src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&no-bg=true&margin-w=8&margin-h=8&theme=onedark"
      alt="GitHub profile trophy for {{ include.username }}"
      loading="lazy">
  </div>
</section>
